.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.navmenu {
  height: 100px;
}
.nav {
  height: 100px;
}
.gutter-box {
  padding: 0 11px 0 11px;

}

.ant-carousel .slick-slide {
  text-align: center;
  height: 250px;
  line-height: 250px;
  background: #364d79;
  overflow: hidden;
}